@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: lighter;
}

/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*  sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  outline: none;*/
/*}*/

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10000px;
}

::-webkit-scrollbar-track {
  /*background-color: transparent;*/
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.979);
}

::-webkit-scrollbar-thumb:hover {
  background: #49D893;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-size: 90px 90px;
  background-position: center 34%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  cursor: pointer;

  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out
}

.card:hover {
  box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.04);
}

.card-header {
  width: auto;
  height: auto;
  display: flex;
  margin: 0.6em 0.6em;
  justify-content: space-between;
}

.rating-box {
  display: flex;
  background: #000;
  width: min-content;
  height: min-content;
  border-radius: 100000px;
  text-align: center;
}

.rating-element-star {
  margin: 5px 4px 5px 8px;
}

.rating-element-value {
  margin: 6px 10px 6px 0;
}

.rating-element {
  font-size: 0.88em;
}


.like-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 3.3ch;
  height: 3.3ch;
  border-radius: 100000px;
  cursor: pointer;
  text-align: center;
}

.like-element-heart {
  margin: 4px 5px 2px 5px;
  font-size: 0.88em;
}

.liked {
  color: #D64269;
}

.card-footer {
  width: auto;
  height: auto;
  display: flex;
  margin: 0.6em 0.6em;
  flex-direction: column;
}

.card-title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
}

.card-item-name {
  /*font-size: 1.2em;*/
  margin-right: 4px;
  /*padding: 4px;*/
}

.weight {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: auto;
  height: auto;
  border-radius: 100000px;
  font-size: 1em;
  padding: 2px 8px 4px 8px;
  color: #242B2E;
}

.price {
  font-size: 1.2em;
  font-weight: bolder;
  /*padding: 0 0 0 4px;*/
}

/*________________________________________________________________________*/
/*HomePage page starts here*/

.Home-Page {
  display: grid;
  grid-template-columns: 2.6fr 6.6fr 3.2fr;
  /*height: 100vh;*/

}

.Side-Menu {
  background-color: #49D893;
  height: 100vh;
  position: relative;
}

.side-menu-button {
  display: flex;
  align-items: center;
  border-top-left-radius: 100000px;
  border-bottom-left-radius: 100000px;
  width: 85%;
  /*height: 46px;*/
  height: 4.5ch;
  background-color: #fff;
  color: #49D893;
  font-weight: 400;
  font-size: 1.1em;
  cursor: pointer;
}

.side-menu-button div {
  font-weight: bold;
}


.side-menu-list {
  margin-top: 12ch;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.side-menu-button-icon {
  padding: 0 13px 0 17px;
}

/*________________________________________________________*/
/*Food menu column starts here*/
.Food-Menu {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

.food-menu-header {
  margin-top: 3ch;
  width: inherit;
  height: 10ch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

}

.food-menu-filter-box {
  padding: 0.5ch 2ch;
  margin-right: 6ch;
  border: 1px solid #efefef;
  border-radius: 7px;
  cursor: pointer;
  font-weight: normal;
}

.food-menu-sort-box {
  padding: 1ch 3ch;
  margin-right: 2ch;
  display: flex;
}

.food-menu-sort-box p {
  margin-right: 1ch;
}

.food-menu-sort-box i {
  margin: 0 1ch;
  cursor: pointer;

}

.food-menu-sort-box span {
  cursor: pointer;
  font-weight: normal;

}

.food-menu-grid {
  width: inherit;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 25px 25px 25px;
  grid-gap: 25px 1px;

}

.food-card-container {
  /*width: 100%;*/
  /*height: 100%;*/
  width: 197px;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 6%;*/
}

/*____________________________________________________________________________*/
/*Order column starts here*/

.Order-Column {
  display: flex;
  flex-direction: column;
  margin: 0 25px 0 0;
  height: 100vh;
  width: 401px;
}

.order-column-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5ch;
  align-items: baseline;
  margin-top: 6vh;
}

.order-column-title p {
  /*margin: 0 4ch;*/
  padding: 0.5ch 0;
  cursor: pointer;
  color: #49D893;
  font-weight: normal;
}

.order-column-title h1 {
  cursor: pointer;
  padding: 0.5ch 0;
  font-weight: bold;
}

.order-time {
  display: flex;
  align-items: center;
  margin-top: 2ch;
}

.order-time i {
  color: #49D893;
  padding: 1ch 1.2ch;
  border-radius: 12px;
  background: #E7FFEA;
  margin-right: 2ch;
}

.order-time p {
  font-weight: normal;
}

.order-column-head hr {
  border: 0;
  height: 0;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid rgba(255, 255, 255, 0.23);
  margin-top: 12ch;
}

.order-card {
  display: flex;
  height: 6ch;
  justify-content: space-evenly;
  margin: 12px 0 0 0;
}

.order-photo-box {
  height: inherit;
}

.order-photo {
  height: inherit;
}

.order-name-box {
  width: 16ch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 2ch;
}

.order-name {
  font-weight: normal;
}

.order-weight {
  color: #a1a1a1;
}

.order-quantity-changer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1ch 0 0;
}

.order-quantity-changer {
  height: 2.5ch;
  width: 7ch;
  border-radius: 10000px;
  border: 1px solid #49D893;
  display: flex;
  justify-content: space-evenly;
}

.order-quantity-changer * {
  padding: 0 0.2ch;
  font-weight: bolder;
}

.order-quantity-changer p {
  cursor: pointer;
}

.order-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8ch;
  font-weight: bold;
}

.order-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 230px;

}

.remove-order {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dashed-border-box {
  color: #49D893;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px #49D893;
  width: inherit;
  height: 6ch;
  margin-top: 3ch;
}

.total-checkout-price {
  display: flex;
  width: inherit;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 2ch;
  font-weight: bold;
  font-size: 1.1em;
}

.checkout-button {
  width: inherit;
  height: 6ch;
  background: #49D893;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.1em;
  cursor: pointer;
  color: white;
}

.Checkout-Page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

