@media screen and (max-width: 800px) {
  .Home-Page {
    grid-template-columns: 1fr;
  }

  .Side-Menu {
    display: none;
  }

  .Order-Column {
    display: none;
  }

  .food-menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .Checkout-Page .Order-Column {
    display: block;
    width: 100%;
    margin: 5px 10px;
  }

  .Checkout-Page .Order-Column .dashed-border-box {
    display: none;
  }

  .order-column-title {
    margin-top: 10px;
  }

  .hidden {
    display: flex;
  }
}

